.registerSec {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .regHeader{
        text-align: center;
        font-size: 30px;
    }

    .formReg {
        display: flex;
        flex-direction: column;
        width: 40%;

        .userPass {
            display: flex;
            gap: 10px;

            .user {
                width: 400px;
                height: 50px;
                border-radius: 15px;
                border: none;
                padding-left: 15px;
                margin: 15px 0 15px 0;
            }
        }

        .regEmail {
            width: 100%;

            input {
                width: 100%;
                height: 50px;
                border-radius: 15px;
                border: none;
                padding-left: 15px;
                margin: 0 0 15px 0;

            }
        }

        .regAdress {
            width: 100%;

            input {
                width: 100%;
                height: 50px;
                border-radius: 15px;
                border: none;
                padding-left: 15px;
                margin: 0 0 15px 0;

            }
        }

        .cardDataAll {
            display: flex;

            .regCard {
                width: 45%;
                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    border: none;
                    padding-left: 15px;
                    margin: 0 0 15px 0;
                }
            }
            .dataCard{
                display: flex;
                justify-content: space-around;
                width: 55%;
                .monthYear{
                    width: 54%;
                    display: flex;
                    gap: 10px;
                    p{
                        font-size: 30px;
                    }
                    input{
                        width: 100%; 
                        height: 50px;
                        border-radius: 15px;
                        border: none;
                        padding-left: 15px;
                        margin: 0 0 15px 0;
                    }
                }
                .cvvDiv{
                    width: 30%;
                    input{
                        width: 100%;
                        height: 50px;
                        border-radius: 15px;
                        border: none;
                        padding-left: 15px;
                        margin: 0 0 15px 0;
                    }
                }
            }
        }

        button {
            width: 130px;
            height: 40px;
            border-radius: 15px;
            background-color: #bdefd7;
            border: none;
            font-weight: 500;
            transition: .3s;

            &:hover {
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            }
        }
    }
}

.errorDiv{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 600px) {
    .registerSec {
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
        .formReg {
            display: flex;
            flex-direction: column;
            width: 80%;
    
            .userPass {
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
    
                .user {
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    border: none;
                    padding-left: 15px;
                    margin: 0px 0 15px 0;
                }
            }
    
            .regEmail {
                width: 100%;
    
                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    border: none;
                    padding-left: 15px;
                    margin: 0 0 15px 0;
    
                }
            }
    
            .regAdress {
                width: 100%;
    
                input {
                    width: 100%;
                    height: 50px;
                    border-radius: 15px;
                    border: none;
                    padding-left: 15px;
                    margin: 0 0 15px 0;
    
                }
            }
    
            .cardDataAll {
                display: flex;
                flex-direction: column;
    
                .regCard {
                    width: 100%;
                    input {
                        width: 100%;
                        height: 50px;
                        border-radius: 15px;
                        border: none;
                        padding-left: 15px;
                        margin: 0 0 15px 0;
                    }
                }
                .dataCard{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    .monthYear{
                        width: 54%;
                        display: flex;
                        gap: 10px;
                        p{
                            font-size: 30px;
                        }
                        input{
                            width: 100%; 
                            height: 50px;
                            border-radius: 15px;
                            border: none;
                            padding-left: 15px;
                            margin: 0 0 15px 0;
                        }
                    }
                    .cvvDiv{
                        width: 30%;
                        input{
                            width: 100%;
                            height: 50px;
                            border-radius: 15px;
                            border: none;
                            padding-left: 15px;
                            margin: 0 0 15px 0;
                        }
                    }
                }
            }
    
            button {
                width: 130px;
                height: 40px;
                border-radius: 15px;
                background-color: #bdefd7;
                border: none;
                font-weight: 500;
                transition: .3s;
    
                &:hover {
                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                }
            }
        }
    }
  }