.number{
    height: 30vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .numDiv{
        display: flex;
        justify-content: space-between;
        width: 80%;
        .aboutData{
            display: flex;
            align-items: center;
            width: 300px;
            gap: 15px;
            i{
                font-size: 45px;
                color: #499c74;

            }
            .numTxt{
                display: flex;
                flex-direction: column;
                justify-content: center;
                h3{
                    font-weight: 400;
                    font-size: 18px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .number{
        height: 50vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .numDiv{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 80%;
            justify-content: center;
            align-items: center;
            .aboutData{
                display: flex;
                align-items: center;
                width: 300px;
                gap: 15px;
                i{
                    font-size: 25px;
                    color: #499c74;
    
                }
                .numTxt{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h3{
                        font-weight: 400;
                        font-size: 14px;
                    }
                    p{
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
  }